{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Welcome to Pairwise!</h1>
            <h4>With this tool you can split bills between two parties.</h4>
        </div>
        First of all you need to create a new user with two partners, or select an existing one.<br>
        After you selected an user, bills can be added and reviewed.<br>
        Furthermore invoices with not billed bills can be created, after a bill is in an invoice it cant be deleted anymore.<br>
        <br>
        The Invoice splits the amount between the two parties and shows which partner ows the other one money.<br>
        <br>
        For Example:<br>
        together-calculated amount for Alex: 100<br>
        together-calculated amount for Manu: 150<br>
        <br>
        150 - 100 / 2 = 25<br>
        Paying partner: alex<br>
        <br>
        {% if usersession != null %}
            Shortlinks:
        <ul>
            <li>
                <a href="{{ path('createbill') }}">Create a new Bill</a>
            </li>
        </ul>
        {% else %}
            As a first step you need to <a href="{{ path('loginuser') }}">login</a> with an user.
        {% endif %}

    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
