{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Create a new Invoice!</h1>
        </div>
        <h4>The Bills included in the new Invoice:</h4>

        ---insert table---
        <br>
        ---insert OK button---
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}