{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Show all Invoices!</h1>

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}